<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body style=background-color: rgb(147, 154, 162);>
  <div class="container bg-light">
    <div><iframe src='https://mars.nasa.gov/embed/26372/' width='100%' height='400' scrolling='no'
        frameborder='0'></iframe></div>
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1> <br>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click to scrape data</a></p>
    </div>

    <div class="row" id="mars-news">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h2 class="text-left"><strong>Latest Mars News</strong></h2>
            <h4 class="media-heading">{{ mars.news_title }}</h4>
            <p>{{ mars.news_article}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="mars-featuredimage">
      <div class="col-md-6">
        <h2 class="text-left"><strong>Featured Mars Image</strong></h2>
        <img src="{{mars.featured_image | default('static/images/error.png', true) }}"
          class="img-responsive center-block" alt="Responsive image" />
      </div>
      <div class="col-md-6">
        <div class="row center-block" id="mars-facts">
          <h2 class="text-center"><strong>Mars Facts</strong></h2>
          <p>{{ mars.mars_facts | safe}} </p>
        </div>

      </div>
    </div>
    <br><br>
    <div class="container-fluid" style="background-color: #e4d9d3;">
      <div class="row">
        <h1 class="text-center">Hemispheres of Mars</h1>
        <br>
        <div class="row">
        {% for dict in mars.hemispheres %}
          <div class="col-md-6">
            <div class="card text-center" >
              <img class="card-img-top" id="hemis-card" src="{{ dict.img_url }}" alt="Hemisphere Card Image"
                style="width:128px;height:128px" ;>
              <div class="card-body text-center">
                <h4 class="card-text text-center">{{ dict.title }}</h4>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
    </div>
    </div>

  </div>
</body>

</html>